    <!--incio NavBar-->
    <nav th:fragment="html_header" class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container">
            <a class="navbar-brand" href="#"><img th:src="@{/images/glow.png}" width="100px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${pageActive == 'home'} ? 'active' : '' " href="/pages/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${pageActive == 'destino'} ? 'active' : '' " href="/pages/destino">Destino</a>
                    </li>
                    <li class="nav-item ">

                        <a class="nav-link" th:classappend="${pageActive == 'promocao'} ? 'active' : '' " href="/pages/promocao">Promoções</a>
                    </li>
                    <li class="nav-item ">

                        <a class="nav-link" th:classappend="${pageActive == 'contato'} ? 'active' : '' " href="/pages/contato">Contato</a>
                    </li>
                    
                      <li class="nav-item">
                        <a class="nav-link" th:classappend="${pageActive == 'login'} ? 'active' : '' " href="/pages/login">login</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

    </nav>
    <!--fim Navbar-->
    
    
    
class="nav-link" th:classappend="${pageActive == 'home'} ? 'active' : '' " href="/pages/"

    